@import 'reset';
@import 'domework';

// font
$font-stack: 'Montserrat', sans-serif;

// colors
$text-font-color: #404040;
$header-font-color: #214433;
$on-background-font-color: #a9a9a9;
$background-color: #e9eaed;
$error-font-color: #e60000;
$warning-font-color: #ef7200;
$light-green: #7ac18a;
$dark-green: #38a370;
$box-background-color: #ffffff;
$box-border-color: #dbdee4;
$table-light-color: #ffffff;
$table-dark-color: #f7f7f7;
$table-hover-color: #ceffd8;
$table-selected-light-color: #7ac18a;
$table-selected-dark-color: #85ce95;

// breakpoints
$breakpoint-small: 550px;
$breakpoint-mid: 1000px;


html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: $background-color;
    font-family: $font-stack;
    font-weight: 400;
    color: $text-font-color;
    line-height: 1.2;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

table {
    width: 100%;
}

caption {
    text-align: left;
}

.page-column {
    margin-bottom: -100px;
}
.page-column:after {
  content: "";
  display: block;
  height: 100px;
}

.title-header {
    height: 80px;
    width: 100%;
    background-color: $light-green;
    color: $header-font-color;
    border-bottom: 7px solid $dark-green;
}

.main-content {
    width: 95%;
    margin-top: 20px;
    @media only screen and (min-width:$breakpoint-small) {
        width: 85%;
    }
    @media only screen and (min-width:$breakpoint-mid) {
        width: $breakpoint-mid * 0.85;
    }
}

.text-box {
    width: 100%;
    padding: 15px;
    background-color: $box-background-color;
    border: 1px solid $box-border-color;
    border-radius: 5px;
}

.step {
    margin: 40px 0 20px 0;
}
.step-circle {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: $dark-green;
    color: $background-color;
    font-size: 35px;
}
.step-title {
    color: $dark-green;
    margin: 0;
}

.icon {
    height: 30px;
    width: 30px;
    margin: 5px 0 0 8px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
}

.input-box {
    @extend .text-box;
    height: 40px;
    font-size: 16px;
    font-family: $font-stack;
}

.search-parent {
    position: relative;
    z-index: 1;
    width: 100%;
    @media only screen and (min-width:$breakpoint-small) {
        width: 60%;
    }
}
.search-icon {
    @extend .icon;
    background-image: url("../icons/search.png");
}
.search-box {
    @extend .input-box;
    padding-left: 40px;
    border-radius: 100px;
}

.course-search-results {
    position: absolute;
    width: 100%;
}
.course-search-results::after {
    content: '';
    height: 30px;
    width: 100%;
    margin-top: -20px;
    position: absolute;
    background-color: $background-color;
    opacity: 0.8;
    z-index: -1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.course-search-result {
    padding: 15px;
    background-color: $box-background-color;
    border: 1px solid $box-border-color;
    border-bottom: 0px;
    cursor: pointer;
}
.course-search-result:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.course-search-result:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid $box-border-color;
}
.course-search-result:hover,
.course-search-result.selected {
    background-color: $light-green;
}

.course-table {
    margin-top: 20px;
    border-collapse: separate;

    caption {
        margin-left: 10px;
        color: $on-background-font-color;
    }

    tr {
        background-color: $table-light-color;
        transition: background-color 0.1s;
        cursor: pointer;
    }

    tr:first-of-type {
        td {
            border-top: 1px solid $box-border-color;
        }

        td:first-of-type {
            border-top-left-radius: 5px;
        }

        td:last-of-type {
            border-top-right-radius: 5px;
        }
    }

    tr:last-of-type {
        td:first-of-type {
            border-bottom-left-radius: 5px;
        }

        td:last-of-type {
            border-bottom-right-radius: 5px;
        }
    }

    tr:nth-child(even) {
        background-color: $table-dark-color;
    }

    tr:hover {
        background-color: $table-hover-color;
    }

    tr.selected {
        background-color: $table-selected-dark-color;
    }

    tr.selected:nth-child(even) {
        background-color: $table-selected-light-color;
    }

    td {
        padding: 15px 0 15px 0;
        border-right: 1px solid $box-border-color;
        border-bottom: 1px solid $box-border-color;
        text-align: center;
    }

    td:first-of-type {
        border-left: 1px solid $box-border-color;
    }

    td.class-type {
        width: 20%;
    }

    td.class-time {
        width: 35%;
    }

    td.class-status {
        color: $error-font-color;
        width: 22.5%;
    }

    td.class-status[data-status='Open'] {
        color: $text-font-color;
    }

    td.class-enrolled {
        width: 22.5%;
    }

    td.class-enrolled.full {
        color: $error-font-color;
    }

    td.class-enrolled.almost-full {
        color: $warning-font-color;
    }

    td.class-location {
        display: none;
    }

    @media only screen and (min-width:$breakpoint-small) {
        td.class-type {
            width: 10%;
        }

        td.class-time {
            width: 25%;
        }

        td.class-enrolled {
            width: 15%;
        }

        td.class-status {
            width: 20%;
        }

        td.class-location {
            width: 30%;
            display: table-cell;
        }
    }
}

.contact-input-box {
    @extend .input-box;
    padding-left: 42px;
    @media only screen and (min-width:$breakpoint-small) {
        width: 60%;
    }
}
.contact-input-box.valid {
    background-color: green;
}

.contact-input-box.invalid {
    background-color: red;
}

.email-icon {
    @extend .icon;
    background-image: url("../icons/email.png");
}
.sms-icon {
    @extend .icon;
    background-image: url("../icons/sms.png");
}
.yo-icon {
    @extend .icon;
    background-image: url("../icons/yo.png");
}

.contact-or {
    margin: 10px 0 10px 0;
    color: $on-background-font-color;
    text-align: center;
}

.success-classes tr {
    cursor: default;
}

.alert-classes tr {
    cursor: default;
}

.alert-me-button {
    height: 40px;
    width: 200px;
    margin: 30px 0 0 0;
    background-color: $light-green;
    color: $text-font-color;
    border-radius: 5px;
    border: 1px solid $box-border-color;
    font-size: 16px;
    font-family: $font-stack;
    cursor: pointer;
}

footer {
    height: 100px;
    padding-top: 60px;
    color: $on-background-font-color;
}
