@import 'reset';
@import 'domework';

$font-stack: 'Montserrat', sans-serif;
$background-color: #e9eaed;
$text-font-color: #404040;

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: $background-color;
    font-family: $font-stack;
    font-weight: 400;
    color: $text-font-color;
    line-height: 1.2;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

table {
    width: 100%;
}

caption {
    text-align: left;
}

.page-column {
    margin-bottom: -100px;
}
.page-column:after {
  content: "";
  display: block;
  height: 100px;
}

.title-header {
    height: 80px;
    width: 100%;
    background-color: #7ac18a;
    color: #214433;
    border-bottom: 7px solid #38a370;
}

.title-header-highlight {
    height: 10px;
    background-color: #38a370;
}

.main-content {
    width: 85%;
}

@media only screen and (min-width:1000px) {
    .main-content {
        width: 850px;
    }
}

.text-box {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border: 1px solid #dbdee4;
    border-radius: 5px;
}

.step {
    margin: 40px 0 20px 0;
}
.step-circle {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #38a370;
    color: #e9eaed;
    font-size: 35px;
}
.step-title {
    color: #38a370;
    margin: 0;
}

.icon {
    height: 30px;
    width: 30px;
    margin: 5px 0 0 8px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
}

.search-parent {
    position: relative;
    z-index: 1;
}
.search-icon {
    background-image: url("../icons/search.png");
}
.search-box {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    border-radius: 100px;
    border: 1px solid #dbdee4;
    font-size: 16px;
    font-family: $font-stack;
}

.course-search-results {
    position: absolute;
    width: 100%;
}
.course-search-results::after {
    content: '';
    height: 30px;
    width: 100%;
    margin-top: -20px;
    position: absolute;
    background-color: #e9eaed;
    opacity: 0.8;
    z-index: -1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media only screen and (min-width:1000px) {
    .course-search-results {
        width: 850px;
    }
}
.course-search-result {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #dbdee4;
    border-bottom: 0px;
    cursor: pointer;
}
.course-search-result:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.course-search-result:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid #dbdee4;
}
.course-search-result:hover {
    background-color: #7ac18a;
}

.course-table-title {
    margin-left: 10px;
    color: #a9a9a9;
}
.class-table-row {
    background-color: #ffffff;
    transition: background-color 0.1s;
    border: 1px solid #dbdee4;
    border-bottom: 0px;
    cursor: pointer;
}
.class-table-row:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.class-table-row:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #dbdee4;
}
.class-table-row:nth-child(even) {
    background-color: #f7f7f7;
}
.class-table-row:hover {
    background-color: #ceffd8;
}
.class-table-row.selected {
    background-color: #85ce95;
}
.class-table-row.selected:nth-child(even) {
    background-color: #7ac18a;
}
.class-table-data {
    padding: 15px 0 15px 0;
    border-right: 1px solid #dbdee4;
    text-align: center;
    pointer-events: none;
}
.class-table-data:last-child {
    border-right: 0;
}
.class-type {
    width: 20%;
}
.class-time {
    width: 40%;
}
.class-enrolled {
    width: 40%;
}
.class-enrolled.full {
    color: #e60000;
}
.class-enrolled.almost-full {
    color: #ef7200;
}
.class-status {
    color: #e60000;
    display: none;
}
.class-status[data-status='Open'] {
    color: #404040;
}
.class-location {
    display: none;
}

@media only screen and (min-width:550px) {
    .class-type {
        width: 15%;
    }
    .class-time {
        width: 30%;
    }
    .class-enrolled {
        width: 30%;
    }
    .class-status {
        width: 22.5%;
        display: block;
    }
    .class-location {
        width: 32.5%;
        display: block;
    }
}

.contact-input-box {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border-radius: 5px;
    border: 1px solid #dbdee4;
    font-size: 16px;
    font-family: $font-stack;
}
@media only screen and (min-width:550px) {
    .contact-input-box {
        width: 60%;
    }
}
.email-icon {
    background-image: url("../icons/email.png");
}
.sms-icon {
    background-image: url("../icons/sms.png");
}
.yo-icon {
    background-image: url("../icons/yo.png");
}

.contact-or {
    margin: 10px 0 10px 0;
    color: #a9a9a9;
    text-align: center;
}

.confirm-classes .course-table {
    margin-top: 20px;
}

.success-confirm-classes {
    margin-top: 40px;
}
.success-confirm-classes .class-table-row {
    cursor: default;
}

.alert-me-button {
    height: 40px;
    width: 200px;
    margin: 30px 0 0 0;
    background-color: #7ac18a;
    color: #404040;
    border-radius: 5px;
    border: 1px solid #dbdee4;
    font-size: 16px;
    font-family: $font-stack;
    cursor: pointer;
}

footer {
    height: 100px;
    padding-top: 60px;
    color: #a9a9a9;
}
