{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="text-box">
        Sometimes you miss out on enrolling in that class that's just
        perfect for you: late enough so you don't need 5 cups of coffee
        to survive it but early enough so you can still grab a kebab box
        from the Quad for lunch right afterwards. <br><br>Or maybe you just
        don't like climbing the Basser steps to get to your tute room.<br><br>
        With Tutorifull you can sign up to be alerted by email, SMS
        or Yo when a spot opens up in a full class.<br><br>
        Never settle for an 9am tute again.
    </div>
</div>

<div class="step" id="search">
    <div class="row justify-centered">
        <div class="step-circle row justify-centered cross-centered">
            <div>1</div>
        </div>
    </div>
    <div class="row justify-centered">
        <div class="row justify-centered cross-centered">
            <h2 class="step-title">Find Classes</h2>
        </div>
    </div>
</div>

<div class="row justify-centered">
    <div class="search-parent">
        <label for="coursesearch" class="search-icon"></label>
        <input class="search-box" type="text" name="coursesearch" autocomplete="off" placeholder="Search for a course"/>
        <ul class="course-search-results"></ul>
    </div>
</div>

<div class="step" id="select">
    <div class="row justify-centered">
        <div class="step-circle row justify-centered cross-centered">
            <div>2</div>
        </div>
    </div>
    <div class="row justify-centered">
        <div class="row justify-centered cross-centered">
            <h2 class="step-title">Select Classes</h2>
        </div>
    </div>
</div>

<div class="class-search-results">
    <div class="text-box">
        Search for a course above
    </div>
</div>

<div class="step" id="contact">
    <div class="row justify-centered">
        <div class="step-circle row justify-centered cross-centered">
            <div>3</div>
        </div>
    </div>
    <div class="row justify-centered">
        <div class="row justify-centered cross-centered">
            <h2 class="step-title">Contact</h2>
        </div>
    </div>
</div>

<div class="warning-text-box hidden" id="no-contact-info-warning">
    Please enter some contact info before submitting.
</div>

<div class="row justify-centered">
    <div class="column cross-centered contact-info">
        <div class="row">
            <form action="javascript:void(0);" novalidate>
                <label for="email" class="email-icon"></label>
                <input class="contact-input-box" type="email" autocomplete="email" name="email" placeholder="Email"/>
            </form>
        </div>
            <div class="contact-or">or</div>
        <div class="row">
            <form action="javascript:void(0);" novalidate>
                <label for="phonenumber" class="sms-icon"></label>
                <input class="contact-input-box" type="tel" autocomplete="tel" name="phonenumber" placeholder="Phone Number"/>
            </form>
        </div>
            <div class="contact-or">or</div>
        <div class="row">
            <form action="javascript:void(0);" novalidate>
                <label for="yoname" class="yo-icon"></label>
                <input class="contact-input-box" type="text" autocomplete="on" name="yoname" placeholder="Yo Username"/>
            </form>
        </div>
    </div>
</div>

<div class="step" id="confirm">
    <div class="row justify-centered">
        <div class="step-circle row justify-centered cross-centered">
            <div>4</div>
        </div>
    </div>
    <div class="row justify-centered">
        <div class="row justify-centered cross-centered">
            <h2 class="step-title">Confirm</h2>
        </div>
    </div>
</div>

<div class="confirm-classes">
    <div class="warning-text-box hidden" id="no-selected-classes-warning">
        Please select at least one class before submitting.
    </div>
    <div class="text-box">
        Select some classes above
    </div>
</div>
<div class="row justify-centered">
    <input class="alert-me-button" type="submit" name="submit" value="Alert Me" formnovalidate/>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src={{ url_for('static', filename='js/tutorifull.min.js') }}></script>
{% endblock %}
