{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="text-box">
        We'll send you {{ contact_type }} to {{ contact }} when a spot opens up.
    </div>
</div>

<div class="success-classes">
    {% for course in courses %}
        <table class="course-table">
            <caption>
                {{ course.course_id }}
            </caption>
            {% for class in course.classes %}
                <tr class="selected">
                    <td class="class-type">
                        {{ class.type }}
                    </td>
                    <td class="class-time">
                        {% for timeslot in class.timeslots %}
                            <p>{{ timeslot.day }} {{ timeslot.start_time }}-{{ timeslot.end_time }}</p>
                        {% endfor %}
                    </td>
                    <td class="class-location">
                        {% for timeslot in class.timeslots %}
                            <p>{{ timeslot.location }}</p>
                        {% endfor %}
                    </td>
                    <td class="class-status" data-status="{{ class.status }}">
                        {{ class.status }}
                    </td>
                    <td class="class-enrolled {% if class.percentage >= 100 %}full{% elif class.percentage >= 80 %}almost-full{% endif %}">
                        {{ class.enrolled }}/{{ class.capacity }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
</div>
{% endblock %}
