{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="text-box">
        We'll send you {{ contact_type }} to {{ contact }} when a spot opens up.
    </div>
</div>

<div class="success-classes">
    {% for course in courses %}
        <table class="course-table">
            <caption>
                {{ course.course_id }}
            </caption>
            {% for class in course.classes %}
                <tr class="selected">
                    <td class="class-type" data-type="{{ class.type }}">
                        {{ class.type }}
                    </td>
                    <td class="class-time" data-day="{{ class.day }}" data-start-time="{{ class.start_time }}" data-end-time="{{ class.end_time }}">
                        {% if class.day and class.start_time and class.end_time %}
                            {{ class.day }} {{ class.start_time }}-{{ class.end_time }}
                        {% endif %}
                    </td>
                    <td class="class-location" data-location="{{ class.location }}">
                        {% if class.location %}
                            {{ class.location }}
                        {% endif %}
                    </td>
                    <td class="class-status" data-status="{{ class.status }}">
                        {{ class.status }}
                    </td>
                    <td class="class-enrolled {% if class.percentage >= 100 %}full{% elif class.percentage >= 80 %}almost-full{% endif %}" data-enrolled="{{ class.enrolled }}" data-capacity="{{ class.capacity }}" data-percentage="{{ class.percentage }}">
                        {{ class.enrolled }}/{{ class.capacity }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
</div>
{% endblock %}
